body{
    background-color: #ff964f;
    padding-bottom: 10px;
}

/* contactform */
.contact {
    color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;
    min-height: 90vh;
}

#contactform {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 60%;
}

.button {
    width: fit-content;
}

.button:hover{
    color: orange; 
    background-color: #c9c9c9; 
}


.content {
    display: inline-block;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 100px;
    resize: none;
}

.contactlove {
    color: red;
}

.contacttitle {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 100px;
    display: flex;
}

.contactinformation {
    margin-left: 20px;
}

/* footer */
.footercontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: antiquewhite;
    list-style: none;
    margin-top:10px; 
    margin-bottom: 10px;
}
    
.footercontainer {
    background-color: antiquewhite;
}
    
.footercontainer li {
    align-items: center;
    display: inline-block;
}
    
.footercontainer li a {
    font-size: 50%;
    text-decoration: none;
    font-weight: 900;
    color: black;
    margin-right: 2em;
    padding: 5px;
}
    
.footercontainer li a:hover {
    background-color: lightgray;
}
    
.footercontainer ul {
    margin: 0;
    padding: 0;
}
    
.footeritem{
    margin: 0 20px;
}


/* tablet */
@media screen and (min-width:768px) {
    #contactform {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 80%;
    }
    
}

/* desktop */
@media screen and (min-width:1024px) {
    #contactform {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 50%;
    }

      /* footer */
      .footercontainer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: antiquewhite;
        list-style: none;
        margin-top:10px; 
        margin-bottom: 10px;
    }
    

    .footercontainer li {
        align-items: center;
        display: inline-block;
    }
    
    .footercontainer li a {
        font-size: 1.5em;
        text-decoration: none;
        font-weight: 900;
        color: black;
        margin-right: 2em;
        padding: 5px;
    }
    
    .footercontainer li a:hover {
        background-color: lightgray;
    }
    
    .footercontainer ul {
        margin: 0;
        padding: 0;
    }
    
    .footeritem{
        margin: 0 20px;
    }
    
}
