* {
    font-family: arial;
    border-radius: 5px;
}



body{
    background-color: #ff964f;
  
      margin: 10px;
}

img {
    width: 100%;
    height: auto;
}

.logo img {
    height: 100px;
    width: auto;
    float: left;
}

.logo img:hover{
    background-color: lightgray;
}

.mlogo {
    margin-left: 550px;
    height: 100px;
}

.header {
    display: flex;
    padding: 10px;
    background-color: antiquewhite;
    margin-bottom: 10px;
    
  }

.box{
    box-sizing: border-box;
}

.drink {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    border: 3px solid black; 
    padding: 10px;
    display: inline-block;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 80px;
}

.menucolor{
  text-emphasis-color: antiquewhite;
}

.food {
    background-color: antiquewhite;
    justify-content: center;
    border: 3px solid black; 
    padding:10px ;
    display: inline-block;
    font-weight: bold;
    float: none;
    padding-left:10px; 
    padding-right: 10px;
    margin-left: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.drink img{
    height: auto;
    width: 400px;
}

.food img{
    height: auto;
    width: 400px;
}

.button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.menubottom
{
    display: flex;
    clear: both;
    border: 3px solid black;
    padding: 10px;
    background-color: antiquewhite;
    width: 30%;
}

.menubottom span{
color: red;
}

.food li{
    margin-top: 20px;
}