* {
    font-family: arial;
    margin: 0px;
    padding: 0px;  
    border-radius: 5px;   
    
}

body{
    background-color: #ff964f;
    padding-bottom: 10px;
}

.menu {
    margin-left: 100px;
    background-color: antiquewhite;
}

.menu li {
    align-items: center;
    display: inline-block;
}

.menu li a {
    background-color: gainsboro;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border: 3px solid black;
}

.menu li a:hover {
    background-color: grey;
  }

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: antiquewhite;
  margin: 10px;
}

.audiob {
  margin-right: 600px;
  margin-bottom: 50px;
  margin-left: 10px;
  padding: 3px;
}

.logo img {
    height: 100px;
    width: auto;
}

.logo img:hover{
    background-color: lightgray;
}

.about {
    display: flex;
    align-items: right;
    flex-direction: row;
}

/*.about img {
    height: 400px;
    width: auto;
    margin-left: 200px;
}*/

.aboutt {
    background-color: antiquewhite;
    border: 3px solid black;
    padding: 30px;
    max-width: 500px;
    line-height: 1.5;
    margin-left: 200px;
    margin-right: 100px;
}

.aboutt p {
    margin-top: 10px;
}

.map {
    margin-left: 150px;
    margin-top: 30px;
}

.socials {
    margin-left: 100px;
    background-color: antiquewhite;
}

.socials li {
    align-items: center;
    display: inline-block;
}

.socials li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.socials ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socials img {
    height: 50px;
    width: auto;
}

.information {
    float: right;
    align-items: left;
    height: 426px;
    letter-spacing: 2px;
    margin-right: 300px;
}

.address { 
    background-color: antiquewhite;
    border: 3px solid black;
    padding: 20px;
    width: 100%; 
    margin-bottom: 20px;  
}

.hours {
    background-color: antiquewhite;
    border: 3px solid black;
    height: auto;
    width: 100%;
    padding: 20px; 
    margin-bottom: 20px;
}

.bigbox {
    float: center;
    overflow: hidden;
    width: 100%;
    margin-top: 50px;  
    margin-left: 150px;  
}

.reservation button{  
    height: 29px;
    width: 610px;
    padding: 0px; 
    margin-bottom: 40px;
    background-color: antiquewhite;
    border: 3px solid black;
}

.forms {
    display: flex;
    align-items: center;
    margin-left: 30%;
}

.container{
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

.swiper {
    width: 100%;
    height: 400px;
  }

.swiper-slide {
  width: 100%;
}

.easteregg p {
    font-size: 5px;
    color: #ff964f;
    
}

.easteregg a:link {
    text-decoration: none;
}

.easteregg {
    width: fit-content;
    margin-left: 69px;
}